.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.418);
  padding: 20px;
  margin: 20px 0;
  width: 80%;
}

/*HEADER*/
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.card__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.card__profile span,
.card__profile small {
  font-family: sans-serif;
  font-weight: 200;
  margin: 10px;
}

.card__profile span {
  font-size: 15px;
}

.card__profile small {
  font-size: 12px;
}
.more {
  cursor: pointer;
}
.card__profile__image {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

/*BODY*/
.card__body {
  margin-bottom: 20px;
}
.card__body p {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(94, 94, 94);
}

.card__body div {
  display: flex;
  justify-content: center;
}

.card__content__image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

/*FOOTER*/

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer__logo {
  display: flex;
  align-items: center;
}

.card__footer__logo * {
  margin-right: 5px;
}
.thumb,
.fav {
  cursor: pointer;
  background: #a8a8a8;
  color: black;
  border-radius: 20px;
  padding: 5px;
  transition: all 0.3s ease-in;
}
.thumb:hover {
  background: rgb(126, 126, 253);
  color: white;
}

.fav:hover {
  background: rgb(250, 82, 82);
  color: white;
}

.post__liked,
.post__comment p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
}

.post__comment {
  cursor: pointer;
}
