.nav__li {
  display: flex;
  align-items: center;
}

.nav__li .list {
  list-style: none;
  margin: 10px;
  color: #0d1c38;
  font-size: 14px;
}

.nav__li img {
  height: 30px;
  border-radius: 20px;
}

.drop:hover > .dropdown__nav {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  display: block;
  margin-top: 0;
  cursor: pointer;
}

.icon__container * {
  margin: 10px;
  cursor: pointer;
}
